.contact {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.contact h1 {
    font-size: 50px;
}
.contact .phones {
    width: 95%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact .phones .contact-elements {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    position: relative;
    left: 30px;
}
.contact .phones .contact-elements p {
    position: relative;
    left: 0;
}
.contact .phones div:nth-child(4) .icons2 {
    width: 40%;
    height: 50%;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}
.contact .phones div:nth-child(4) .icons2 svg {
    width: 25px;
    height: 25px;
}





@media (max-width: 1025px) {
    .contact {
        width: 90%;
        height: 500px;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .phones {
        width: 100%;
        height: 90% !important;
        display: flex;
        flex-direction: column;
    }
    .contact .phones .contact-elements {
        width: 100%;
        height: 19%;
        margin: 0;
        padding: 0;
        position: relative;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .contact h1 {
        font-size: 30px;
    }
    .icons2 {
        width: 20% !important;
    }
}





@media (max-width: 576px) {
    .contact {
        width: 90%;
        height: 500px;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .phones {
        width: 100%;
        height: 90% !important;
        display: flex;
        flex-direction: column;
    }
    .contact .phones .contact-elements {
        width: 100%;
        height: 19%;
        margin: 0;
        padding: 0;
        position: relative;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .contact h1 {
        font-size: 30px;
    }
    .icons2 {
        width: 40% !important;
    }
}