.blog-pro {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 76.1px;
    margin-top: 10px;
}
.blog-right {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 20px;
}
.blog-right .img {
    width: 100%;
    height: 50%;
    position: relative;
    top: 0;
    left: 0;
}
.blog-right .texts {
    position: relative;
    top: -10px;
}
.blog-right .texts h1, p {
    position: relative;
    left: 20px;
}










@media (max-width: 992px) {
    .blog-pro {
        width: 90%;
        margin: auto;
        margin-bottom: 50px;
    }
    .blog-right .texts p {
        position: relative;
        left: 20px !important;
    }
    .blog-right .img {
        width: 100% !important ;
        height: 60% !important;
        margin: 0;
        padding: 0;
    }
    .blog-right .texts {
        width: 100%;
        height: 40%;
    }
}