.blog-pro {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 76.1px;
    margin-top: 10px;
}
.blog-right {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 20px;
}
.blog-right .img {
    position: relative;
    top: 0;
    left: 0;
}
.blog-right .texts {
    position: relative;
    top: -10px;
}
.blog-right .texts h1, p {
    position: relative;
    left: 20px;
}