header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header figure {
    width: 8%;
    height: 44%;
}
header figure a img {
    width: 100%;
    height: 100%;
}
header nav {
    width: 73%;
    height: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(237, 237, 237);
    border-radius: 30px;
}
header nav ul li {
    list-style: none;
    width: 13%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul button {
    width: 8%;
    height: 50%;
    border: none;
    border-left: 1px solid rgb(168, 168, 168);
}
header nav ul li a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    transition: .3s;
}
header nav ul li a:hover {
    color: #70B32F;
}
header nav ul li a:active {
    color: #70B32F;
}
header nav .nav_elements {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .nav_elements details {
    width: 55%;
    height: 100%;
    background-color: rgb(237, 237, 237);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
header nav .nav_elements details summary {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;

}
header nav .nav_elements details summary span {
    border-bottom: 10px solid #333;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    transform: rotate(90deg);
    transition: .3s;
}
header nav .nav_elements details:active summary span {
    transform: rotate(180deg);
}
header nav .nav_elements details summary span:active {
    transform: rotate(180deg);
}
header nav .nav_elements details div {
    position: absolute;
    z-index: 11;
    width: 80px;
    height: 14%;
    background-color: rgb(237, 237, 237);
    margin-left: -62px;
    margin-top: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
header nav .nav_elements details div a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(184, 184, 184);
    transition: .3s;
    cursor: pointer ;
}
header nav .nav_elements details div a:hover {
    color: #70B32F;
}
header nav .nav_elements .nav_case {
    width: 32%;
    height: 100%;
    background-color: rgb(237, 237, 237);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.burger-menu2 {
    display: none;
}
.burger {
    display: none;
}
.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}
.nav_search2 {
    display: none;
}
.responsive-nav {
    display: none;
}
.nav_logos {
    display: none;
}
.logo_nav {
    width: 150px;
    height: 50px;
}
.logo_nav img {
    width: 100%;
    height: 100%;
}
.links_two {
    display: none;
    transition: all ease 0.3s;
}

.links_two.is-open-two {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50vh;
    position: absolute !important;
    z-index: 9999;
    left: 0;
    top: 0;
    display: block;
}

.search_modal {
    width: 35%;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    left: -15px;
}
.search_modal div {
    width: 100%;
    height: 75%;
    background-color: rgb(237, 237, 237);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
}
.search_modal div input {
    width: 80%;
    background: transparent;
    border: none;
    color: black;
    font-size: 18px;
    outline: none;
}
.search_modal div button {
    width: 50px;
    height: 50%;
    border: none;
    background: transparent;
    border-left: 0.5px solid rgb(195, 195, 195);
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_modal div button svg {
    position: relative;
    left: 2px;
    top: -3px;
}









@media (max-width: 1025px) {
    header {
        width: 100%;
        height: 7vh;
    }
    .responsive-nav {
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0px;
        padding: 0px 15px;
    }
    .links{
        display: none;
    }
    header .nav_logos {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav_left {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav_right {
        width: 12%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav_right .nav_case {
        width: 45px;
        height: 45px;
        background-color: rgb(237, 237, 237);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .nav_right .nav_case:nth-child(1) {
        border: none;
    }
    .nav_left .nav_case {
        width: 40px;
        height: 40px;
        background-color: rgb(237, 237, 237);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 20px;
    }
    header figure a {
        width: 120px;
    }
    header figure a img {
        width: 100%;
        height: 100%;
    }
    .links.is-open{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        background-color: white;
        transition: .3s ease;
    }
    .links.is-open ul{
        width: 50%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        background-color: transparent;
        text-align: center;
        position: relative;
        left: 30px;
        top: 0;
    }
    .links.is-open ul li {
        width: 50%;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .links.is-open ul li a {
        font-size: 20px;
    }
    .nav_search {
        display: none !important;
    }
    .burger-menu2{
        display: block;
        font-size: 37px;
        color: black !important;
        padding: 2px 2px;
        background-color: rgb(234, 234, 234);
        border-radius: 50%;
    }
    header nav .nav_elements {
        display: none;
    }
    details {
        display: block !important;
    }
    .logo_nav {
        display: none;
    }
    .responsive-nav details {
        width: 90px;
        height: 70%;
        background-color: rgb(237, 237, 237);
        border-radius: 30px;
        display: flex;
        justify-content: center !important;
        align-items: center;
        cursor: pointer;
    }
    .responsive-nav details summary {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        position: relative;
        left: 18px;
    }
    .responsive-nav details summary span {
        border-bottom: 10px solid #333;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        transform: rotate(90deg);
        transition: .3s;
    }
    .responsive-nav details:active summary span {
        transform: rotate(180deg);
    }
    .responsive-nav details summary span:active {
        transform: rotate(180deg);
    }
    .responsive-nav details div {
        position: absolute;
        z-index: 11;
        width: 80px;
        height: 35%;
        background-color: rgb(237, 237, 237);
        margin-left: 5px;
        margin-top: 10px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 10px;
    }
    .responsive-nav details div a {
        font-size: 20px;
        text-decoration: none;
        color: rgb(184, 184, 184);
        transition: .3s;
        cursor: pointer ;
    }
    .responsive-nav details div a:hover {
        color: #70B32F;
    }
    .search_modal {
        width: 50%;
        height: 70px;
    }
    .links.is-open ul button {
        display: none;
    }
}



@media (max-width: 992px) {
    .search_modal {
        width: 60%;
        height: 65px;
    }
    .nav_right {
        width: 15%;
    }
    .links.is-open ul button {
        display: none;
    }
}




@media (max-width: 576px) {
    header {
        width: 100%;
        height: 7vh;
    }
    .links{
        display: none;
    }
    header .nav_logos {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav_left {
        width: 45%;
    }
    .nav_right {
        width: 25%;
    }
    .nav_right .nav_case{
        width: 40px;
        height: 40px;
    }
    header figure a {
        width: 60%;
        height: 60%;
    }
    header figure a img {
        width: 100%;
        height: 100%;
    }
    .links.is-open{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        background-color: white;
        transition: .3s ease;
    }
    .links.is-open ul{
        width: 50%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        background-color: transparent;
        text-align: center;
        position: relative;
        left: 20px;
    }
    .links.is-open ul li {
        width: 50%;
        display: flex;
        justify-content: start;
        align-items: center ;
    }
    .links.is-open ul button {
        display: none;
    }
    .links.is-open ul li a {
        font-size: 20px;
    }
    .nav_search {
        display: none !important;
    }
    .burger {
        width: 20%;
        height: 60%;
        background-color: rgb(234, 234, 234);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
    .burger-menu {
        font-size: 20px;
    }
    .burger-menu2{
        display: block;
        font-size: 34px;
        color: black !important;
        padding: 2px 2px;
        background-color: rgb(234, 234, 234);
        border-radius: 50%;
    }
    header nav .nav_elements {
        display: none;
    }
    details {
        display: block !important;
    }
    .logo_nav {
        display: none;
    }
    .links_two.is-open-two {
        display: none;
    }
    .close_btn {
        display: none;
    }
    .responsive-nav details div {
        height: 14%;
    }
}