.footer {
    width: 100%;
    height: 570px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left {
    width: 48%;
    height: 85%;
    background-color: #FFA800;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.left .top {
    width: 90%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left .top div{
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left .top div p {
    font-size: 18px;
    color: white;
}
.left .top div h2 {
    font-size: 25px;
    color: white;
}
.left .center {
    width: 90%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left .center .second {
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left .center div p {
    font-size: 18px;
    color: white;
}
.left .center div h2 {
    font-size: 25px;
    color: white;
}
.left .center .icons {
    width: 40%;
    height: 50%;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}
.left .center .icons svg {
    font-size: 25px;
    color: white;
}
.left .center .icons svg:nth-child(2) {
    font-size: 27px;
}
.left .bottom {
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(233, 233, 233);
}
.left .bottom img {
    width: 170px;
    height: 55px;
}
.left .bottom p {
    width: 43%;
    color: white;
}
.right {
    width: 48%;
    height: 85%;
    border-radius: 30px;
}
.location {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 30px !important;
}
.location a {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 30px !important;
}
.location iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 30px !important;
}


@media (max-width: 1025px) {
    .footer {
        width: 100%;
        height: 570px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .left .top {
        height: 33%;
        display: flex;
        flex-direction: column;
    }
    .left .center {
        height: 33%;
        display: flex;
        flex-direction: column;
    }
    .left .bottom {
        height: 20%;
    }
    .left .top div{
        width: 100%;
        height: 39%;
    }
    .left .center .second{
        width: 100%;
        height: 39%;
    }
    .left .bottom img{
        width: 110px;
        height: 40px;
    }
    .left .bottom p {
        width: 50%;
        font-size: 13px;
    }
}

@media (max-width: 576px) {
    .footer {
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .footer .left {
        width: 100%;
        height: 58%;
    }
    .footer .right {
        width: 100%;
        height: 40%;
    }
    .footer .right .location {
        width: 100%;
        height: 100%;
    }
    .left .top {
        width: 90%;
        height: 28%;
        margin-left: 0px;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    .left .center {
        width: 90%;
        height: 28%;
        margin-left: 0px;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    .left .top div {
        height: 40% !important;
    }
    .left .center .second {
        height: 40% !important;
    }
    .left .top div p {
        font-size: 14px;
        color: white;
        position: relative;
        left: 0;
    }
    .left .top div h2 {
        font-size: 17px;
        color: white;
    }
    .left .top div{
        width: 48%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }
    .left .center div p {
        font-size: 14px;
        color: white;
        position: relative;
        left: 0;
    }
    .left .center div h2 {
        font-size: 17px;
        color: white;
    }
    .left .center .second {
        width: 48%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }
    .left .bottom {
        width: 80%;
        height: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid rgb(233, 233, 233);
    }
    .left .bottom img {
        width: 100px;
        height: 35px;
    }
    .left .bottom p {
        font-size: 13px;
        color: white;
    }
}   