#blog {
    width: 100%;
    height: 600px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
}
#blog h1 {
    font-size: 40px;
}
.blog-pro {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.blog-pro .div {
    width: 29.6%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 25px;
}
.blog-pro div div:nth-child(1) {
    width: 100%;
    height: 55%;
    background-image: url('../../../assets/img/food_1.png');
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
}
.blog-pro div div:nth-child(2) {
    width: 100%;
    height: 38%;
    border: none;
    position: relative;
    top: -15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.blog-pro div div:nth-child(2) h3 {
    width: 80%;
    font-size: 22px;
    position: relative;
    left: 17px;
}
.blog-pro div div:nth-child(2) p {
    font-size: 18px;
    width: 80%;
    position: relative;
    left: 20px;
}
.blog-pro div div:nth-child(2) button {
    width: 90%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    font-size: 16px;
    background-color: white;
    border: none;
    border: 1px solid #70B32F;
    border-radius: 20px;
    color: #70B32F;
    transition: .3s;
}
.blog-pro div div:nth-child(2) button:hover {
    background-color:#70B32F ;
    color: white;
}









@media (max-width: 1025px) {
    #blog {
        width: 100%;
        height: 3000px !important;
        margin-bottom: 0;
        margin-top: 200px !important;
    }
    .blog h1 {
        font-size: 50px !important;
    }
    .blog-pro {
        width: 100%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 0;
    }
    .blog-pro .div {
        width: 100% !important;
        height: 30%;
    }
    .blog-pro div div:nth-child(2) h3 {
        width: 90%;
        font-size: 40px;
    }
    .blog-pro div div:nth-child(2) p {
        font-size: 25px;
    }
    .blog-pro div div:nth-child(2) button {
        width: 95%;
        height: 18%;
        font-size: 20px;
        border-radius: 30px;
        padding: 0px 20px;
    }
    .blog-pro div div:nth-child(2) p {
        font-size: 25px;
        width: 90%;
        position: relative;
        left: 20px;
    }
}



@media (max-width: 576px) {
    #blog {
        display: none;
    }
    .blog h1 {
        font-size: 35px;
    }
    .blog-pro {
        height: 90%;
        display: flex;
        flex-wrap: wrap;
    }
    .blog-pro div {
        width: 100%;
    }
    .blog-pro div div:nth-child(2) h3 {
        width: 90%;
        font-size: 23px;
    }
    .blog-pro div div:nth-child(2) p {
        font-size: 17px;
    }
}   