.products-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.product {
    width: 24%;
    height: 35vh;
    margin-top: 20px;
    border-radius: 25px;
    border: 1px solid rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.products-image {
    width: 100%;
    height: 72%;
    border-bottom: 1px solid rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
}
.products-image .container {
    width: 85%;
    height: 85%;
    position: relative;
}
.container .wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container .wrapper-holder {
    display: grid;
    grid-template-columns: repeat(4, 100%);
    width: 100%;
    height: 100%;
    animation: slider 30s ease-in-out infinite alternate;
}
.products-about {
    width: 90%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.products-about p {
    width: 70%;
    font-size: 20px;
}
.products-about svg {
    font-size: 30px;
    position: relative;
    top: -20px;
}
.nav_pro_button {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
}
.more {
    width: 20%;
    height: 100%;
    background-color: rgb(234, 234, 234);
    border: none;
    border-radius: 40px;
    font-size: 19px;
    font-weight: 500;
    transition: .3s;
    margin-top: 40px;
}
.more:hover {
    background-color: #70B32F;
    color: white;
}
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bg_img1 {
    background-image: url('../../../assets/img/slide_pro1.webp');
    background-size: cover;
}
.bg_img2 {
    background-image: url('../../../assets/img/slide_pro2.webp');
    background-size: cover;
}
.bg_img3 {
    background-image: url('../../../assets/img/slide_pro3.webp');
    background-size: cover;
}
.bg_img4 {
    background-image: url('../../../assets/img/slide_pro4.webp');
    background-size: cover;
}



@media (max-width: 1025px) {
    .products-container {
        width: 100%;
        height: 990px;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: start;
        margin-top: 30px;
        gap: 48.6px;
    }
    .product {
        width: 30%;
        height: 35%;
        border-radius: 25px;
        border: 1px solid rgb(230, 230, 230);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }
    .nav_pro_button {
        margin-top: 250px;
    }
}




@media (max-width: 992px) {
    .products-container {
        width: 100%;
        height: 1500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 30px;
        gap: 0;
    }
    .product {
        width: 48%;
        height: 24%;
        border-radius: 25px;
        border: 1px solid rgb(230, 230, 230);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }
    .products-about p {
        width: 70%;
        font-size: 20px;
    }
    .products-about svg {
        width: 30px;
        height: 30px;
        position: relative;
        top: 0;
        left: -10px;
    }
    .more {
        width: 60%;
        height: 60px;
        background-color: rgb(234, 234, 234);
        border: none;
        border-radius: 40px;
        font-size: 19px;
        font-weight: 500;
        transition: .3s;
        margin-top: 0;
    }
    .nav_pro_button {
        margin-top: 100px;
    }
}









@media (max-width: 576px) {
    .products-container {
        width: 100%;
        height: 2500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0px;
        gap: 0;
    }
    .product {
        width: 100% !important;
        height: 11%;
        border-radius: 25px;
        border: 1px solid rgb(230, 230, 230);
        display: flex;
        flex-direction: column;
        justify-content: space-between !important;
        cursor: pointer;
    }
    .products-about p {
        width: 70%;
        font-size: 20px;
    }
    .products-about svg {
        width: 30px;
        height: 30px;
        position: relative;
        top: 0;
        left: -10px;
    }
    .more {
        width: 60%;
        height: 60px;
        background-color: rgb(234, 234, 234);
        border: none;
        border-radius: 40px;
        font-size: 19px;
        font-weight: 500;
        transition: .3s;
        margin-top: 0;
    }
}